.App {
  text-align: center;
}

.Jumbotron {
  background-color: rgb(204, 228, 248);
  padding: 40px;
  background-image: url('../public/img/front.jpg');
  /* Photo by https://unsplash.com/@jordannix?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jordan Nix</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
   */
  background-size: cover;
 
}

.Jumbotron h1 {
  font-weight: 900;
  color: aliceblue;
}

.Jumbotron p {
 margin-top: 10px;
 color: whitesmoke;
 font-weight: 600;
}

.btn-info {
  background-color: rgb(109, 193, 196);
  color: white;
  border-color: white;
  margin-top: 20px;
}

.navbar-brand {
  font-weight: 700;
}

.container {
  margin: 20px auto;
}

.col-md-4 img {
  height: 500px;
}
