.App {
  text-align: center;
}

.Jumbotron {
  background-color: rgb(204, 228, 248);
  padding: 40px;
  background-image: url('../public/img/frontNew.jpg');
  /* Photo by https://unsplash.com/@jordannix?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jordan Nix</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
   */
  background-size: cover;
  margin-bottom: 30px;
}

.Jumbotron h1 {
  font-weight: 900;
  color: rgb(247, 160, 29);
  -webkit-text-stroke: .3px rgb(255, 235, 124);
}

.Jumbotron p {
  margin-top: 10px;
  color: whitesmoke;
  font-weight: 900;
  -webkit-text-stroke: .3px rgb(51, 51, 51);
}

.btn-info {
  background-color: rgba(255, 176, 85, 0.658);
  color: white;
  border-color: white;
  margin-top: 20px;
  font-weight: 600;
}

.btn-info:hover {
  background-color: rgb(255, 225, 125);
  border-color: white;
  font-weight: 600;
}

.navbar-brand {
  font-weight: 700;
}

.container {
  margin: 20px auto;
}

.col-md-4 {
  margin-bottom: 40px;
 
}

.col-md-4 h4 {
  color: rgb(226, 143, 34);
  margin-top: 10px;
}

.col-md-4 img {
  height: 500px;
}

.backBtn {
  background-color: rgba(57, 101, 243, 0.658);
  width: 100px;
  color: white;
  border-color: white;
}

.btnMore {
  background-color: rgb(252, 181, 50);
  margin-bottom: 40px;
  width: 100px;
  font-weight: 600;
}


@media (min-width:900px) {
  .Jumbotron {
    width: 1295px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: translateX(23.5%); */
    margin: 20px auto;
  }

  .Jumbotron h1 {
    font-size: 40pt;
    transform: translateX(22%) translateY(50%);
  }

  .Jumbotron p {
    font-size: 20pt;
    width: 600px;
    transform: translateX(95%) translateY(50%);

  }

  .btn-info {
    width: 150px;
    height: 50px;
    transform: translateX(170%) translateY(150%);

  }

  .navbar-nav {
    transform: translateX(380%);
  }

  .row {
    flex-wrap: nowrap;
  }

  .col-md-4 {
    margin-right: 20px;
    transform: translateX(-18px);
  }
}